<body>
  <br />



  <nav class="navbar navbar-expand-lg bg-white border-bottom border-1 navbar-light px-4 nav-dashboard">
      <div class="container">
          <button class="btn btn-close-custom btn-primary" type="button" data-bs-toggle="offcanvas"
              data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling">
              btn
          </button>

          <!-- search input -->
          <div>
              <div class="d-none d-lg-block form-control rounded-pill">

                  <a class="navbar-brand" routerLink="/about">
                      <img src="assets/img/logo.png" width="160" alt="" />
                  </a>
                  <button type="button" class="btn-close btn-close-custom text-reset" data-bs-dismiss="offcanvas"
                      aria-label="Close"></button>

              </div>
          </div>
          <!-- end search input -->

          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
              aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse d-lg-flex justify-content-lg-end" id="navbarNav">
              <ul class="navbar-nav gap-lg-4 text-center py-4 py-lg-0 d-flex align-items-center">
                  <li class="nav-item notification-bell-active">
                      <img src="assets/img/notification-icon.svg" alt="" />
                  </li>
                  <li class="nav-item d-flex align-items-center cursor-pointe">
                      <div class="btn-group d-flex flex-column">
                          <button type="button" class="btn d-flex align-items-center dropdown-toggle"
                              data-bs-toggle="dropdown" aria-expanded="false">
                              <div class="profile-img overflow-hidden">
                                  <img src="assets/img/profile-avatar.png" class="img-fluid" alt="" />
                              </div>
                              <span class="fw-medium ms-3">Natasya</span>
                          </button>
                          <ul class="dropdown-menu dropdown-menu-end">
                              <li>
                                  <button class="dropdown-item" type="button">Action</button>
                              </li>
                              <li>
                                  <button class="dropdown-item" type="button">
                                      Another action
                                  </button>
                              </li>
                              <li>
                                  <button class="dropdown-item" type="button">
                                      Something else here
                                  </button>
                              </li>
                          </ul>
                      </div>
                  </li>
              </ul>
          </div>
      </div>
  </nav>

  <div class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1"
      id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
      <div class="offcanvas-header">
          <a class="navbar-brand" routerLink="/professional">
              <img src="assets/img/téléchargement.png" width="200" alt="" />
          </a>
          <button type="button" class="btn-close btn-close-custom text-reset" data-bs-dismiss="offcanvas"
              aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
          <ul>
              <li class="px-4 py-2-5 rounded-3 cursor-pointer hover-bg-danger">
                  <a routerLink="/dossierf">
                      <img src="assets/img/png-clipart-computer-icons-medicine-medical-record-health-health-text-medical.svg"
                          alt="" class="" />
                      <span class="ms-2 fs-6 d-inline-block mt-1">Resumé_Dossier</span>
                  </a>
              </li>
              <a routerLink="/ficheConsultation">
                  <li class="bg-danger px-4 py-2-5 rounded-3 cursor-pointer">
                      <img src="assets/img/medical_sheet_icon_142608.svg" alt="" class="" />
                      <span class="ms-2 fs-6 d-inline-block text-inf mt-1">Fiche_Consultation</span>
                  </li>
              </a>
              <a routerLink="/analyse">
                  <li class="px-4 py-2-5 rounded-3 cursor-pointer hover-bg-danger">
                      <img src="assets/img/212842.svg" alt="" class="" />
                      <span class="ms-2 fs-6 d-inline-block text-inf mt-1">Analyses</span>
                  </li>
              </a>
              <a routerLink="/radio">
                  <li class="px-4 py-2-5 rounded-3 cursor-pointer hover-bg-danger">
                      <img src="assets/img/2258505-icone-de-ligne-pour-radiologie-vectoriel.svg" alt="" class="" />
                      <span class="ms-2 fs-6 d-inline-block text-inf mt-1">Examens radiologiques</span>
                  </li>
              </a>
              <a routerLink="/ordonance">
                  <li class="px-4 py-2-5 rounded-3 cursor-pointer hover-bg-danger">

                      <img src="assets/img/3410626.svg" alt="" class="" width="40" />
                      <span class="ms-2 fs-6 d-inline-block text-inf mt-1">Ordonance</span>
                  </li>
              </a>


              <a routerLink="/medicament">
                  <li class="px-4 py-2-5 rounded-3 cursor-pointer hover-bg-danger">
                      <img src="assets/img/images.svg" />
                      <span class="ms-2 fs-6 d-inline-block text-inf mt-1">Medicaments</span>
                  </li>
              </a>
              <a routerLink="/prescription">
                  <li class="px-4 py-2-5 rounded-3 cursor-pointer hover-bg-danger">
                      <img src="assets/img/prescription-icon-18.svg" alt="" class="" />
                      <span class="ms-2 fs-6 d-inline-block text-inf mt-1">Prescriptions</span>
                  </li>
              </a>
              <a routerLink="/consultation">
                  <li class="px-4 py-2-5 rounded-3 cursor-pointer hover-bg-danger">
                      <img src="assets/img/102-1026499_consultation-free-doctor-consultation-icon-clipart.svg" alt=""
                          class="" />
                      <span class="ms-2 fs-6 d-inline-block text-inf mt-1">Consultation</span>
                  </li>
              </a>
              <a routerLink="/lettre">
                  <li class="px-4 py-2-5 rounded-3 cursor-pointer hover-bg-danger">
                      <img src="assets/img/images (1).png" alt="" class="" width="42" height="42" />
                      <span class="ms-2 fs-6 d-inline-block text-inf mt-1">Lettre Confidentielle</span>
                  </li>
              </a>
          </ul>

      </div>
  </div>


  <br />
  <div class="container">
      <div class="card" style=" top: 10px; left: 200px ">
          <br />
          <h2 class="text-center"> Fiche de consultation </h2>
          <div class="card-body">
              <!-- Content here -->


              <br />
              <!-- <table  class="table table-striped" style=" top: 280px; left: 100px" >
        <thead>
          <th >idFiche</th>
          <th >observation</th>
          <th >Date_Creation</th>
          
          
        </thead>
        <tbody>
          <tr *ngFor="let f of listFiches">
            <td>{{f.idFiche}}</td>
            <td>{{f.observation}}</td>
            <td>{{f.dateCreation}}</td>
          
            
            
          </tr>
        </tbody>


      </table> -->

              <div class="menu-container" class="center">
                  <div class="card-body" *ngFor="let f of fiche">
                    <div *ngIf="f">
                      
                          <pre class="pre"> Fiche_Consultation N°:{{f.idFiche}}                                                                                                                        {{f.dateCreation}}</pre>

                      

                      <div class="menu" >
                          <!-- <div class="menu-item">Id idFiche </div>
                      <div class="menu-item">Observation </div>
                      <div class="menu-item">Date_Creation </div> -->
                          <div class="card-body">

                              <pre>&#9788; Observation : {{f.observation}} </pre>
                              <hr />
                              <br />
                              <pre class="text-center">✵ Operations radiologiques ✵</pre>
                              <br />
                              <br />

                              <table class="table table-striped" style=" top: 280px; left: 100px">
                                  <thead>
                                      <th>Id_Operation</th>
                                      <th>Observation</th>
                                      <th>Date_Operation</th>
                                      <th>Motif</th>
                                      <th>Resultat</th>
                                      <th>Etablissement</th>
                                      <th>Type</th>



                                  </thead>
                                  <tbody>
                                      <tr>
                                          <td>{{f.radio.idOperation}}</td>
                                          <td>{{f.radio.observation}}</td>
                                          <td>{{f.radio.dateOperation}}</td>
                                          <td>{{f.radio.motif}}</td>
                                          <td>{{f.radio.resultat}}</td>
                                          <td>{{f.radio.etablissement}}</td>
                                          <td>{{f.radio.type}}</td>




                                      </tr>
                                  </tbody>


                              </table>
                              <br />
                              <hr />
                              <br />
                              <pre class="text-center"> ✵ Operations d'analyses ✵ </pre>
                              <br />
                              <br />

                              <table class="table table-striped" style=" top: 280px; left: 100px">
                                  <thead>
                                      <th>Id_Operation</th>
                                      <th>Observation</th>
                                      <th>code_Analyse</th>
                                      <th>Date_Analyse</th>
                                      <th>Motif</th>
                                      <th>Resultat</th>
                                      <th>Etablissement</th>
                                      <th>Type</th>



                                  </thead>
                                  <tbody>
                                      <tr>
                                          <td>{{f.analyse.idOperation}}</td>
                                          <td>{{f.analyse.observation}}</td>
                                          <td>{{f.analyse.codeAnalyse}}</td>
                                          <td>{{f.analyse.dateAnalyse}}</td>
                                          <td>{{f.analyse.motif}}</td>
                                          <td>{{f.analyse.resultat}}</td>
                                          <td>{{f.analyse.etablissement}}</td>
                                          <td>{{f.analyse.type}}</td>




                                      </tr>
                                  </tbody>


                              </table>
                              <br />
                              <hr />
                              <br />
                              <pre class="text-center">✵ Consultation ✵</pre>
                              <pre>&#9788; Etat_Consultation: {{f.consultation.etat}} </pre>
                              
                              <div class="btn_report my-2 my-sm-0" id="right">

                                  
                                      <button  type="button" data-bs-toggle="modal" [attr.data-bs-target]="'#exampleModal'+f.consultation.idConsultation"
                                      (click)="test(f.consultation.idConsultation)"  class="btn btn-primary py-1 px-2 me-2" >Consulter</button>

                                  <!-- Modal -->
                                
                              </div>

                              <div class="modal fade" id="exampleModal{{f.consultation.idConsultation}}" tabindex="-1"
                                  aria-labelledby="exampleModalLabel1" aria-hidden="true">
                                  <div class="modal-dialog modal-lg" style="width:1200px ;height: 2200px;">
                                      <div class="modal-content">
                                          <div class="modal-header">
                                              <!-- <button type="button" class="btn-close"
                                                  data-bs-dismiss="modal" aria-label="Close"></button>
                                              <h5 class="modal-title" id="exampleModalLabel1"> </h5>  -->


                                                  <img src="assets/img/logo.png" width="200" alt="" data-bs-dismiss="modal" id="exampleModalLabel1"/>

<br/>
<br/>
<br/>
                                              <div class="container">
                                                  <div class="row">
                                                  
                                                      <div
                                                          class="col-lg-6 d-flex align-items-center p-0 mt-5 mt-lg-0">
                                                          <div
                                                              class="border-lg-start border-1 mb-4 mb-lg-0 p-lg-5 text-center">
                                                              <a class="navbar-brand" data-bs-dismiss="modal" id="exampleModalLabel1">
                                                                  <img src="assets/img/102-1026499_consultation-free-doctor-consultation-icon-clipart.svg" width="160" alt="" />
                                                              </a>
                                                              

                                                              
                                                                 <span class="text-center">Détails de Consultation </span>
                                                             

                                                              

                                                                  <div class="card border-primary mb-3"
                                                                      style="max-width: 100rem;">


                                                                      <div class="card-body text-light">
                                                                          <p class="card-title">idConsultation:
                                                                              {{consultation.idConsultation}}</p>

                                                                          <p class="card-title">Lieu_Consultation:
                                                                              {{consultation.lieu}}</p>

                                                                          <p class="card-title">Etat_Consultation:
                                                                              {{consultation.etat}}</p>
                                                                              <span class="text-center">Ordonance</span>
                                                                              <p class="card-title">Num_Ordonance:{{consultation.ordonance.numOrdonance}}</p>
                                                                              <p class="card-title">Date_Ordonance:{{consultation.ordonance.dateOrdonance}}</p>
                                                                              <p class="card-title">Etat_Ordonance:{{consultation.ordonance.etat}}</p>
                                                                              <p class="card-title">Nouveauté:{{consultation.ordonance.nouveaute}}</p>
                                                                              <p class="card-title">Prescription:</p>
                                                                              <span class="text-center">Certificat</span>
                                                                                <p class="card-title">Date_Certificat:
                                                                                    {{consultation.certificat.dateCertificat}}</p>
                                                                                    <p class="card-title">Contenu:
                                                                                        {{consultation.certificat.contenu}}</p>


                                                                      </div>
                                                                  </div>
                                                              
                                                          
                                                      </div>
                                                  </div>
                                              </div>

                                              <!-- end main -->






                                          </div>
                                      </div>
                                  </div>
                              </div>


                              
                              <hr />


                          </div>
                      </div>
                  </div>
              </div>
            </div>
          </div>
      </div>
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />

      <footer>

          <app-footer></app-footer>
      </footer>