<div class="footer">
  <div class="container">
      <div class="row">
          <div class="col-lg-12">
              <h4>Vous pouvez joindre l'équipe au <a class="purple" href="mailto:email@domain.com">sehti.tn@evotix.com</a></h4>
              <div class="social-container">
                <a class="navbar-brand" routerLink="/about">
                  <img src="assets/img/logo.png" width="160" alt="" />
                </a>
                <span class="fa-stack">
                <a class="navbar-brand" href="http://www.facebook.com/">
                  
                  <img src="assets/img/facebook-social-media-fb-logo-square-44659.png" alt="Notre Facebook" height="40" width="40">
                
                </a>
              </span>
                <span class="fa-stack">
                <a class="navbar-brand" href="http://www.twitter.com/">
                  
                  <img src="assets/img/60580.png" alt="Notre Facebook" height="35" width="35">
                
                </a>
              </span>
                  <span class="fa-stack">
                    <a class="navbar-brand" href="http://www.instagram.com/">
                      
                      <img src="assets/img/87390.png" alt="Notre Facebook" height="35" width="35">
                    
                    </a>
                  </span>
                  
                  <span class="fa-stack">
                    <a class="navbar-brand" href="http://www.youtube.com/"><img src="assets/img/Logo_of_YouTube_(2013-2015).svg.png" alt="Notre Facebook" height="55" width="55"></a>
                  </span>
                  
              </div> <!-- end of social-container -->
          </div> <!-- end of col -->
      </div> <!-- end of row -->
  </div> <!-- end of container -->
</div> <!-- end of footer -->  
