pre{
    color: #1150C6;
}
.text-inf{
    
    color: #1150C6;
  }
  .font{
  font-size: 28px;
  text-align: center;
  color: #6807A0;
  text-decoration: #6807A0 underline;
  }
  .p-input-icon-left,
   .p-input-icon-right {
       float: right;
   }
   span.p-input-icon-left input[type="text"]{
       padding: 0px 25px;
   }
   .center {
    position: relative;

    left: 6%;
    top: 1.5em;
    
  }
  .left {  margin:0 20px 0 20px; }
  #leftbtn {

    position: relative;
  
    left: 60%;
    bottom: 4em;
  
  
  }
  
  
  .lefto {
    float: left;
    margin: 0 30px 15 20px;
  }
  .leftt {
    float: right;
    float: top;
  }
  #right {

    position: relative;
  
    left: 90%;
    bottom: 1em;
  
  
  }
  
  #rightFiche {
  
    position: relative;
  
    left: 100%;
    top: 6em;
  
  
  }
  #rightLettre {
  
    position: relative;
  
    right: 2%;
    bottom: 0.5em;
  
  
  }
  
  #leftbtn {
  
    position: relative;
  
    left: 10%;
    bottom: 1em;
  
  
  }
  
  .lefto {
    float: left;
    margin: 0 30px 15 20px;
  }
  
  .colonne {
    font-size: 16px;
    text-align: center;
    color: #1150C6;
  
  }
  
  #rightimg {
  
    position: relative;
  
    left: 50%;
    bottom: 1em;
  
  
  }

  
  #center {
  
    position: relative;
  
    left: 45%;
    top: 1em;
  
  
  }