<app-header-dashboard></app-header-dashboard>
<div class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1"
    id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
    <div class="offcanvas-header">
        <a class="navbar-brand" routerLink="/about">
            <img src="assets/img/2258505-icone-de-ligne-pour-radiologie-vectoriel.svg" width="180" alt="" />
            <br />
            <br />
            <pre> Espace radiologue</pre>
        </a>
        <button type="button" class="btn-close btn-close-custom text-reset" data-bs-dismiss="offcanvas"
            aria-label="Close">

        </button>
    </div>
    <div class="offcanvas-body">
        <ul>

            <li class="px-4 py-2-5 rounded-3 cursor-pointer hover-bg-danger">
                <img src="assets/img/my-profile.svg" alt="" class="" />
                <span class="ms-2 fs-6 d-inline-block text-inf mt-1">Mon Profile</span>
            </li>
            <!-- <li class="px-4 py-2-5 rounded-3 cursor-pointer hover-bg-danger">
                <img src="assets/img/appointment.svg" alt="" class="" />
                <span class="ms-2 fs-6 d-inline-block text-inf mt-1">Appointment</span>
            </li> -->



            <li class="px-4 py-2-5 rounded-3 cursor-pointer hover-bg-danger">
                <a routerLink="/patientRadio">
                    <img src="assets/img/icone_historique.svg" alt="" class="" width="25" height="25"/>
                    <span class="ms-2 fs-6 d-inline-block text-inf mt-1">Historiques_Radios</span>
                </a>

            </li>
            <a routerLink="/radio">
                <li class="bg-danger px-4 py-2-5 rounded-3 cursor-pointer">
                    <img src="assets/img/2258505-icone-de-ligne-pour-radiologie-vectoriel.svg" />
                    <span class="ms-2 fs-6 d-inline-block text-inf mt-1">Toutes_Radios</span>
                </li>
            </a>


        </ul>

    </div>
</div>
<br />
<br />
<div class="container">
    <div class="card" style="left: 90px;width: 1450px; ">
        <br />
        <br />
        <br />
        <p-toast position="top-right" ></p-toast>
        <p-dialog [(visible)]="showRadio" [modal]="true" [baseZIndex]="10000"
            [breakpoints]="{'960px': '75vw', '640px': '100vw'}" [style]="{width: '40vw'}" [draggable]="false"
            [resizable]="false">
            <h1 class="text-center" class="font">
                Partager_Radio
            </h1>
            
            <form [formGroup]="registerForm">
                <div class="p-fluid grid">




                    <div class="row g-3">
                        <div class="col">
                            <div class="p-field p-col-6 p-md-4">

                                <span class="p-float-label">
                                    <input type="idOperation" id="idOperation" name="idOperation" pInputText formControlName="idOperation"
                                        
                                        [(ngModel)]="radio.idOperation" [ngClass]="!registerForm.controls['idOperation'].valid && registerForm.controls['idOperation']?.touched?'ng-invalid ng-dirty':''"
                                        required
                                        >
                                        <small class="text-red-500" *ngIf="registerForm.controls['idOperation'].hasError('required') && registerForm.controls['idOperation']?.touched" style="color: #f44336;" >N°_Radio est obligatoire </small>
                                        <small class="text-red-500" *ngIf="registerForm.controls['idOperation'].hasError('pattern') && registerForm.controls['idOperation']?.touched" style="color: #f44336;" > N°_Radio doit étre un nombre </small>
                                    <label for="idOperation">N°_Radio</label>
                                </span>
                                
                            </div>
                        </div>
                        <div class="col">
                            <div class="p-field p-col-6 p-md-4">
                                <span class="p-float-label">
                                    <input type="codeRadio" id="codeRadio" name="codeRadio" pInputText formControlName="codeRadio"
                                        [(ngModel)]="radio.codeRadio" [ngClass]="!registerForm.controls['codeRadio'].valid && registerForm.controls['codeRadio']?.touched?'ng-invalid ng-dirty':''"
                                        required
                                       >
                                       <small class="text-red-500" *ngIf="!registerForm.controls['codeRadio'].valid && registerForm.controls['codeRadio']?.touched" style="color: #f44336;" > code de radio est obligatoire </small>
                                    <label for="codeRadio">codeRadio</label>
                                </span>
                            </div>
                        </div>
                        
                    </div>

                    <div class="p-field p-col-12 p-md-4">
                        <span class="p-float-label">
                            <textarea inputId="textarea" rows="3" style="resize: none;" cols="30" style="min-height: 30px;overflow:auto;" id="observation" name="observation" formControlName="observation" type="textarea"
                                 [(ngModel)]="radio.observation" pInputTextarea [ngClass]="!registerForm.controls['observation'].valid && registerForm.controls['observation']?.touched?'ng-invalid ng-dirty':''"
                                required
                                ></textarea>
                                <small class="text-red-500" *ngIf="registerForm.controls['observation'].hasError('required') && registerForm.controls['observation']?.touched" style="color: #f44336;" >Observation est obligatoire </small>
                                <small class="text-red-500" *ngIf="registerForm.controls['observation'].hasError('minlength') && registerForm.controls['observation']?.touched" style="color: #f44336;" > min 3 lettres </small>
                                <small class="text-red-500" *ngIf="registerForm.controls['observation'].hasError('pattern') && registerForm.controls['observation']?.touched" style="color: #f44336;" >L'observation ne doit pas contenir des caractéres spéciaux</small>
                            <label for="observation">observation</label>
                        </span>
                    </div>


                    <div class="row g-3">
                        <div class="col">
                            <div class="p-field p-col-6 p-md-4">
                                <span class="p-float-label">
                                    <input type="text" id="etablissement" name="etablissement" pInputText formControlName="etablissement"
                                        [(ngModel)]="radio.etablissement" [ngClass]="!registerForm.controls['etablissement'].valid && registerForm.controls['etablissement']?.touched?'ng-invalid ng-dirty':''"
                                        required
                                        >
                                        <small class="text-red-500" *ngIf="registerForm.controls['etablissement'].hasError('required') && registerForm.controls['etablissement']?.touched" style="color: #f44336;" >etablissement est obligatoire </small>
                                        <small class="text-red-500" *ngIf="registerForm.controls['etablissement'].hasError('minlength') && registerForm.controls['etablissement']?.touched" style="color: #f44336;" > min 3 lettres </small>
                                        <small class="text-red-500" *ngIf="registerForm.controls['etablissement'].hasError('pattern') && registerForm.controls['etablissement']?.touched" style="color: #f44336;" >L'établissement ne doit contenir que des lettres</small>
                                        <label for="etablissement">etablissement</label>
                                </span>
                            </div>
                        </div>
                        <div class="col">
                            <div class="p-field p-col-6 p-md-4">
                                <span class="p-float-label">
                                    <input type="text" id="motif" name="motif" pInputText formControlName="motif" [(ngModel)]="radio.motif" [ngClass]="!registerForm.controls['motif'].valid && registerForm.controls['motif']?.touched?'ng-invalid ng-dirty':''"
                                    required>
                                    <small class="text-red-500" *ngIf="registerForm.controls['motif'].hasError('required') && registerForm.controls['motif']?.touched" style="color: #f44336;" >motif est obligatoire </small>
                                    <label for="motif">motif</label>
                                </span>
                            </div>
                        </div>
                      
                    </div>
                    <div class="p-field p-col-12 p-md-4">
                        <label for="type">Type_Radio</label>
                            <p-dropdown [options]="optionsExam" [(ngModel)]="radio.type" optionLabel="label" formControlName="type"
                                optionValue="value" placeholder="Type_Radio" [ngClass]="!registerForm.controls['type'].valid && registerForm.controls['type']?.touched?'ng-invalid ng-dirty':''"
                                ></p-dropdown>
                                   
                                <small class="text-red-500" *ngIf="registerForm.controls['type'].hasError('required') && registerForm.controls['type']?.touched" style="color: #f44336;" >type est obligatoire </small>
                            
                     
                    </div>


            

                    <div class="row g-3">
                        <div class="col">
                            <div class="p-field p-col-6 p-md-4">
                        <span class="p-float-label">
                            <p-dropdown id="idFiche" name="fiche" datakey="idFiche" [options]="ListFiche" formControlName="idFiche"
                                [(ngModel)]="fiche" optionLabel="idFiche"></p-dropdown>
                            <label for="idFiche">N°Fiche_Consultation</label>
                        </span>
                    </div>
                </div>
                <div class="col">
                    <div class="p-field p-col-6 p-md-4">
                        <span class="p-float-label">
                            <input type="text" id="resultat" name="resultat" pInputText formControlName="resultat" [(ngModel)]="radio.resultat" [ngClass]="!registerForm.controls['resultat'].valid && registerForm.controls['resultat']?.touched?'ng-invalid ng-dirty':''"
                            required>
                            <small class="text-red-500" *ngIf="registerForm.controls['resultat'].hasError('required') && registerForm.controls['resultat']?.touched" style="color: #f44336;" >resultat est obligatoire </small>
                            <label for="resultat">resultat</label>
                        </span>
                    </div>
                </div>
              
            </div>

            <div class="p-field p-col-12 p-md-4">
                <label for="etat">Etat_Radio</label>
                    <p-dropdown id="etat" name="etat" dataKey="etat" [options]="options" [(ngModel)]="radio.etat" formControlName="etat" placeholder="Etat_Radio" [ngClass]="!registerForm.controls['etat'].valid && registerForm.controls['etat']?.touched?'ng-invalid ng-dirty':''"
                    ></p-dropdown>
                       
                    <small class="text-red-500" *ngIf="registerForm.controls['etat'].hasError('required') && registerForm.controls['etat']?.touched" style="color: #f44336;" >etat est obligatoire </small>
             
            </div>

                   
                   

                </div>
               
                <button pButton type="button" id="center"  icon="pi pi-plus"   pRipple class="purple" label="Partager" (click)="saveRadio(radio)"></button>
                
                
               
               
            </form>



        </p-dialog>
       

        <!-- Content here -->

        <p-toolbar styleClass="mb-4">
            <ng-template pTemplate="left">
                <button pButton pRipple class="purple" type="button" icon="pi pi-plus" class="p-button-rounded " id="right"
                (click)="modelRadio()" ></button>
            <pre class="text-center" class="font">                                        Liste des radios</pre>
                
            </ng-template>
    
          
        </p-toolbar>
      
        <p-table #radioTable [scrollable]="true" [value]="ListRadios" dataKey="id" [rows]="5"
            [showCurrentPageReport]="true" [rowsPerPageOptions]="[5,10,25,50]" [paginator]="true"
            currentPageReportTemplate="Affichage de {first} à {last} sur {totalRecords} éléments"
            [globalFilterFields]="['id','codeRadio','observation','dateOperation','motif','resultat','etablissement','type','etat']">
            <ng-template pTemplate="caption">

                <div class="flex">

                    <button pButton label="Effacer" class="p-button-outlined" icon="pi pi-filter-slash"
                        (click)="clear(radioTable)"></button>





                        <span class="p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="radioTable.filterGlobal(getEventValue($event), 'contains')" placeholder="Search..." [style]="{height: '2.5vw'}" />
                        </span>

              



                </div>

            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th class="td" style="min-width:200px" pSortableColumn="codeRadio">Code_Radio <p-sortIcon field="codeRadio"></p-sortIcon>
                    </th>
                    <th class="td" style="min-width:200px" pSortableColumn="observation">Observation <p-sortIcon field="observation"></p-sortIcon>
                    </th>
                    <th class="td" style="min-width:200px" pSortableColumn="dateOperation">Date_Operation <p-sortIcon field="dateOperation"></p-sortIcon>
                    </th>
                   
                    <th class="td" style="min-width:200px" pSortableColumn="type">Type <p-sortIcon field="type"> </p-sortIcon></th>
                    <th class="td" style="min-width:200px" pSortableColumn="motif">Motif <p-sortIcon field="motif"> </p-sortIcon> </th>
                    <th class="td" style="min-width:200px" pSortableColumn="resultat">Resultat<p-sortIcon field="resultat"> </p-sortIcon> </th>
                    <th class="td" style="min-width:200px" pSortableColumn="etablissement">Etablissement <p-sortIcon field="etablissement"> </p-sortIcon></th>
                    <th class="td" style="min-width:200px" pSortableColumn="etat">Etat_Radio <p-sortIcon field="etat"> </p-sortIcon></th>

                </tr>
                <tr>
                    <th>
                        <p-columnFilter style="min-width:200px" type="text" field="codeRadio" matchMode="contains" [matchModeOptions]="matchModeOptions"></p-columnFilter> </th>
                    <th>
                        <p-columnFilter style="min-width:200px" type="text" field="observation" matchMode="contains"
                            [matchModeOptions]="matchModeOptions"></p-columnFilter>
                    </th>
                    <th>
                        <p-columnFilter style="min-width:200px" type="text" field="dateOperation" matchMode="contains"
                            [matchModeOptions]="matchModeOptions"></p-columnFilter>
                    </th>
               
                    <th>
                        <p-columnFilter style="min-width:200px" type="text" field="type" matchMode="contains"
                            [matchModeOptions]="matchModeOptions"></p-columnFilter>
                    </th>
                    <th>
                        <p-columnFilter style="min-width:200px" type="text" field="motif" matchMode="contains"
                            [matchModeOptions]="matchModeOptions"></p-columnFilter>
                    </th>
                    <th>
                        <p-columnFilter style="min-width:200px" type="text" field="resultat" matchMode="contains"
                            [matchModeOptions]="matchModeOptions"></p-columnFilter>
                    </th>
                    <th>
                        <p-columnFilter style="min-width:200px" type="text" field="etablissement" matchMode="contains"
                            [matchModeOptions]="matchModeOptions"></p-columnFilter>
                    </th>
                    <th>
                        <p-columnFilter style="min-width:200px" type="text" field="etat" matchMode="contains"
                            [matchModeOptions]="matchModeOptions"></p-columnFilter>
                    </th>


                </tr>

            </ng-template>

            <ng-template pTemplate="body" let-radio>

                <tr>
                    <td class="td" style="min-width:200px">{{radio.codeRadio}}</td>
                    <td class="td" style="min-width:200px"> {{radio.observation }}</td>
                    <td class="td" style="min-width:200px">{{radio.dateOperation| date: "longDate"}}</td>
                   
                    
                    <div  class="tag">
                    <p-tag *ngIf="radio.type=='TOMOGRAPHIE' " styleClass="mr-2" severity="warning">
                                    
                        <td class="td" style="min-width:200px">{{radio.type}}</td>
                    </p-tag>
                </div>
                <div  class="tag">
                    <p-tag *ngIf="radio.type=='ECHOGRAPHIE_SCINTIGRAPHIE' " styleClass="mr-2" severity="danger">
                                    
                        <td class="td" style="min-width:200px">{{radio.type}}</td>
                    </p-tag>
                </div>
                <div  class="tag">
                    <p-tag *ngIf="radio.type=='ECHOGRAPHIE_DOPPLER' " styleClass="mr-2" severity="success">
                                    
                        <td class="td" style="min-width:200px">{{radio.type}}</td>
                    </p-tag>
                </div>
                <div  class="tag">
                    <p-tag *ngIf="radio.type=='SCANNERX' " styleClass="mr-2" severity="info">
                                    
                        <td class="td" style="min-width:200px">{{radio.type}}</td>
                    </p-tag>
                </div>
                <div  class="tag">
                    <p-tag *ngIf="radio.type=='TEP' " styleClass="mr-2" severity="warning">
                                    
                        <td class="td" style="min-width:200px">{{radio.type}}</td>
                    </p-tag>
                </div>
                <div  class="tag">
                    <p-tag *ngIf="radio.type=='IRM' " styleClass="mr-2" severity="danger">
                                    
                        <td class="td" style="min-width:200px">{{radio.type}}</td>
                    </p-tag>
                </div>
                    <td class="td" style="min-width:200px">{{radio.motif}}</td>
                    <td class="td" style="min-width:200px">{{radio.resultat}}</td>
                    <td class="td" style="min-width:200px">{{radio.etablissement}}</td>
                    <div  class="tag">
                    <p-tag *ngIf="radio.etat=='Terminé' " styleClass="mr-2" severity="success">
                                    
                        <td class="td" style="min-width:200px">{{radio.etat}}</td>
                    </p-tag>
                </div>
                <div  class="tag">
                    <p-tag *ngIf="radio.etat=='EnCours' " styleClass="mr-2" severity="warning">
                                    
                        <td class="td" style="min-width:200px" >{{radio.etat}}</td>
                    </p-tag>
                </div>






                </tr>


            </ng-template>

        </p-table>
     
    </div>

</div>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<app-footer></app-footer>