<app-header-dashboard></app-header-dashboard>
<div class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1"
    id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
    <div class="offcanvas-header">
        <a class="navbar-brand" routerLink="/about">
            <img src="assets/img/212842.svg" width="180" alt="" />
            <br />
            <br />
            <pre> Espace analyseur</pre>
        </a>
        <button type="button" class="btn-close btn-close-custom text-reset" data-bs-dismiss="offcanvas"
            aria-label="Close">

        </button>
    </div>
    <div class="offcanvas-body">
        <ul>

            <li class="px-4 py-2-5 rounded-3 cursor-pointer hover-bg-danger">
                <img src="assets/img/my-profile.svg" alt="" class="" />
                <span class="ms-2 fs-6 d-inline-block text-inf mt-1">Mon Profile</span>
            </li>
            <!-- <li class="px-4 py-2-5 rounded-3 cursor-pointer hover-bg-danger">
                <img src="assets/img/appointment.svg" alt="" class="" />
                <span class="ms-2 fs-6 d-inline-block text-inf mt-1">Appointment</span>
            </li> -->



            <li class="px-4 py-2-5 rounded-3 cursor-pointer hover-bg-danger">
                <a routerLink="/patientOperation">
                    <img src="assets/img/icone_historique.svg" alt="" class="" width="25" height="25"/>
                    <span class="ms-2 fs-6 d-inline-block text-inf mt-1">Historiques_Analyses</span>
                </a>

            </li>
            <a routerLink="/analyse">
                <li class="bg-danger px-4 py-2-5 rounded-3 cursor-pointer">
                    <img src="assets/img/212842.svg" />
                    <span class="ms-2 fs-6 d-inline-block text-inf mt-1">Toutes_Analyses</span>
                </li>
            </a>


        </ul>

    </div>
</div>
<br />
<br />
<div class="container">
    <div class="card" style="left: 90px;width: 1450px; ">
        <br />
        <br />
        <br />
        <p class="text-center" class="font">Liste des analyses</p>

        <!-- Content here -->


        <br />
        <hr />

        <p-table #analyseTable [scrollable]="true" [value]="ListAnalyses" dataKey="id" [rows]="5"
            [showCurrentPageReport]="true" [rowsPerPageOptions]="[5,10,25,50]" [paginator]="true"
            currentPageReportTemplate="Affichage de {first} à {last} sur {totalRecords} éléments"
            [globalFilterFields]="['id','codeAnalyse','observation','dateAnalyse','motif','resultat','etablissement','type','etat']">
            <ng-template pTemplate="caption">

                <div class="flex">

                    <button pButton label="Effacer" class="p-button-outlined" icon="pi pi-filter-slash"
                        (click)="clear(analyseTable)"></button>







                    <input pInputText type="text" class="pi pi-search"
                        (input)="analyseTable.filterGlobal(getEventValue($event), 'contains')" placeholder="Rechercher"
                        class="p-input-icon-left p-ml-auto" />



                </div>

            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th class="td" style="min-width:200px" pSortableColumn="codeAnalyse">Code_Analyse <p-sortIcon field="codeAnalyse"></p-sortIcon>
                    </th>
                    <th class="td" style="min-width:200px" pSortableColumn="observation">Observation <p-sortIcon field="observation"></p-sortIcon>
                    </th>
                    <th class="td" style="min-width:200px" pSortableColumn="dateAnalyse">Date_Analyse <p-sortIcon field="dateAnalyse"></p-sortIcon>
                    </th>
                   
                    <th class="td" style="min-width:200px" pSortableColumn="type">Type <p-sortIcon field="type"> </p-sortIcon></th>
                    <th class="td" style="min-width:200px" pSortableColumn="motif">Motif <p-sortIcon field="motif"> </p-sortIcon> </th>
                    <th class="td" style="min-width:200px" pSortableColumn="resultat">Resultat<p-sortIcon field="resultat"> </p-sortIcon> </th>
                    <th class="td" style="min-width:200px" pSortableColumn="etablissement">Etablissement <p-sortIcon field="etablissement"> </p-sortIcon></th>
                    <th class="td" style="min-width:200px" pSortableColumn="etat">Etat_Analyse <p-sortIcon field="etat"> </p-sortIcon></th>

                </tr>
                <tr>
                    <th>
                        <p-columnFilter style="min-width:200px" type="text" field="codeAnalyse" matchMode="contains" [matchModeOptions]="matchModeOptions"></p-columnFilter> </th>
                    <th>
                        <p-columnFilter style="min-width:200px" type="text" field="observation" matchMode="contains"
                            [matchModeOptions]="matchModeOptions"></p-columnFilter>
                    </th>
                    <th>
                        <p-columnFilter style="min-width:200px" type="text" field="dateAnalyse" matchMode="contains"
                            [matchModeOptions]="matchModeOptions"></p-columnFilter>
                    </th>
               
                    <th>
                        <p-columnFilter style="min-width:200px" type="text" field="type" matchMode="contains"
                            [matchModeOptions]="matchModeOptions"></p-columnFilter>
                    </th>
                    <th>
                        <p-columnFilter style="min-width:200px" type="text" field="motif" matchMode="contains"
                            [matchModeOptions]="matchModeOptions"></p-columnFilter>
                    </th>
                    <th>
                        <p-columnFilter style="min-width:200px" type="text" field="resultat" matchMode="contains"
                            [matchModeOptions]="matchModeOptions"></p-columnFilter>
                    </th>
                    <th>
                        <p-columnFilter style="min-width:200px" type="text" field="etablissement" matchMode="contains"
                            [matchModeOptions]="matchModeOptions"></p-columnFilter>
                    </th>
                    <th>
                        <p-columnFilter style="min-width:200px" type="text" field="etat" matchMode="contains"
                            [matchModeOptions]="matchModeOptions"></p-columnFilter>
                    </th>


                </tr>

            </ng-template>

            <ng-template pTemplate="body" let-analyse>

                <tr>
                    <td class="td" style="min-width:200px">{{analyse.codeAnalyse}}</td>
                    <td class="td" style="min-width:200px"> {{analyse.observation }}</td>
                    <td class="td" style="min-width:200px">{{analyse.dateAnalyse | date: "longDate"}}</td>
                   
                    
                    <div  class="tag">
                    <p-tag *ngIf="analyse.type=='BACTERIOLOGIQUE' " styleClass="mr-2" severity="warning">
                                    
                        <td class="td" style="min-width:200px">{{analyse.type}}</td>
                    </p-tag>
                </div>
                <div  class="tag">
                    <p-tag *ngIf="analyse.type=='SEPARASITOLOGIQUE' " styleClass="mr-2" severity="danger">
                                    
                        <td class="td" style="min-width:200px">{{analyse.type}}</td>
                    </p-tag>
                </div>
                <div  class="tag">
                    <p-tag *ngIf="analyse.type=='URINE' " styleClass="mr-2" severity="success">
                                    
                        <td class="td" style="min-width:200px">{{analyse.type}}</td>
                    </p-tag>
                </div>
                <div  class="tag">
                    <p-tag *ngIf="analyse.type=='SANG' " styleClass="mr-2" severity="info">
                                    
                        <td class="td" style="min-width:200px">{{analyse.type}}</td>
                    </p-tag>
                </div>
                    <td class="td" style="min-width:200px">{{analyse.motif}}</td>
                    <td class="td" style="min-width:200px">{{analyse.resultat}}</td>
                    <td class="td" style="min-width:200px">{{analyse.etablissement}}</td>
                    <div  class="tag">
                    <p-tag *ngIf="analyse.etat=='Terminé' " styleClass="mr-2" severity="success">
                                    
                        <td class="td" style="min-width:200px">{{analyse.etat}}</td>
                    </p-tag>
                </div>
                <div  class="tag">
                    <p-tag *ngIf="analyse.etat=='EnCours' " styleClass="mr-2" severity="warning">
                                    
                        <td class="td" style="min-width:200px" >{{analyse.etat}}</td>
                    </p-tag>
                </div>






                </tr>


            </ng-template>

        </p-table>
    </div>

</div>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<app-footer></app-footer>