pre{
  color: #1150C6;
}
.text-inf{
  
  color: #1150C6;
}
.font{
font-size: 28px;
text-align: center;
color: #1150C6;
text-decoration: #1b74e4 underline;
}
.p-input-icon-left,
 .p-input-icon-right {
     float: right;
 }
 span.p-input-icon-left input[type="text"]{
     padding: 0px 25px;
 }
 .center {
  position: relative;

  left: 6%;
  top: 1.5em;
  
}
.td{
  text-align: center;
  top: 1.5em;
}
.tag {
  position: relative;

  right: 3%;
  top: 1.5em;
  
}
#right {

  position: relative;

  left: 95%;
  top: 1em;


  }
  #center {

    position: relative;
  
    left: 45%;
    top: 1em;
  
  
    }
  .parent {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .rightt {
    display: flex;
    justify-content: right;
    align-items: right;
    flex-direction: column;
  }
  .leftt {
    display: flex;
    justify-content: left;
    align-items: left;
    flex-direction: column;
  }
  
