<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login | Sehti</title>

</head>

<body>
    <!-- navbar -->
    <app-header></app-header>
    <!-- end navbar -->

    <!-- main -->
    <main>
        <div class="container">
            <div class="row">
                <div class="col-md-6 mx-auto text-center h-full d-lg-flex align-items-center">
                    <div class="my-5">
                        <h1>Login to <span class="text-primary">sehti.tn</span></h1>
                        <p class="text-light">
                            Sehti.tn helps you manage your medical files properly and
                            facilitates the process of medical treatment and analysis.
                        </p>
                        <form action="" class="py-4">
                            <div class="mb-3 px-lg-5 mx-lg-5">
                                <input type="email" class="form-control py-2-5 px-3" id="exampleFormControlInput1"
                                    placeholder="Email" />
                            </div>
                            <div class="mb-3 px-lg-5 mx-lg-5">
                                <input type="password" class="form-control py-2-5 px-3" id="exampleFormControlInput1"
                                    placeholder="Password" />
                            </div>
                            <div class="mb-3 px-lg-5 mx-lg-5">
                                <button class="btn btn-primary py-2-5 w-100">Login</button>
                            </div>
                            <div class="mb-3 px-lg-5 mx-lg-5 text-start">
                                <p class="text-primary">Forgot password ?</p>
                            </div>
                            <div class="mb-3 px-lg-5 mx-lg-5 text-start">
                                <span class="line-center d-block"><span class="bg-white p-1 px-2">or</span></span>
                            </div>
                            <div class="mb-3 px-lg-5 mx-lg-5">
                                <button class="btn border-1 border-light-100 py-2-5 w-100 text-secondary">
                                    <img class="me-2" src="assets/img/google-icon.svg" alt="" />
                                    Login with Google
                                </button>
                            </div>
                            <div class="px-lg-5 mx-lg-5">
                                <button class="btn btn-blue py-2-5 w-100">
                                    <img class="me-2" src="assets/img/facebook-icon.svg" alt="" />
                                    Login with Facebook
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!-- end main -->

    <script src="assets/js/bootstrap.min.js"></script>
</body>

</html>