<app-header-dashboard></app-header-dashboard>
<div class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1"
    id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
    <div class="offcanvas-header">
        <a class="navbar-brand" routerLink="/about">
            <img src="assets/img/102-1026499_consultation-free-doctor-consultation-icon-clipart.svg" width="180"
                alt="" />
            <pre> Espace praticien</pre>
        </a>
        <button type="button" class="btn-close btn-close-custom text-reset" data-bs-dismiss="offcanvas"
            aria-label="Close">

        </button>
    </div>
    <div class="offcanvas-body">
        <ul>

            <li class="px-4 py-2-5 rounded-3 cursor-pointer hover-bg-danger">
                <a routerLink="/profilMedecin">
                <img src="assets/img/my-profile.svg" alt="" class="" />
                <span class="ms-2 fs-6 d-inline-block text-inf mt-1">Mon Profile</span>
                </a>
            </li>
            <!-- <li class="px-4 py-2-5 rounded-3 cursor-pointer hover-bg-danger">
                <img src="assets/img/appointment.svg" alt="" class="" />
                <span class="ms-2 fs-6 d-inline-block text-inf mt-1">Appointment</span>
            </li> -->


            <li class="px-4 py-2-5 rounded-3 cursor-pointer hover-bg-danger">
                <a routerLink="/acueilDossier">
                    <img src="assets/img/dos.svg" alt="" class="" />
                    <span class="ms-2 fs-6 d-inline-block text-inf mt-1">Anciens_Patients</span>
                </a>

            </li>
            <li class="bg-danger px-4 py-2-5 rounded-3 cursor-pointer">
                <a routerLink="/dossierNouveaux">
                    <img src="assets/img/dos.svg" alt="" class="" />
                    <span class="ms-2 fs-6 d-inline-block text-inf mt-1">Nouveaux_Patients</span>
                </a>

            </li>
            <li class="px-4 py-2-5 rounded-3 cursor-pointer hover-bg-danger">
                <a routerLink="/medicament">
                <img src="assets/img/images.svg" />
                <span class="ms-2 fs-6 d-inline-block text-inf mt-1">Medicaments</span>
            </a>
            </li>
            <a routerLink="/patient">
                <li class="px-4 py-2-5 rounded-3 cursor-pointer hover-bg-danger">
                    <img src="assets/img/pattients.svg" />
                    <span class="ms-2 fs-6 d-inline-block text-inf mt-1">Patients</span>
                </li>
            </a>


        </ul>

    </div>
</div>

<div class="container">
   <br>
   <br>
   
    <div class="card" style=" width: 1500px;left: 30px;  ">
        
     
       
          
        <p-toolbar styleClass="mb-4">
            <button pButton label="Effacer" class="p-button-outlined" icon="pi pi-filter-slash"
            (click)="clear(dossierTable)"></button>
          
            <ng-template pTemplate="left">
                
                <img class="lefto" src="assets/img/imageonline-co-transparentimage.jpg" width="90" height="90"
            alt="" title="" />
                <button pButton type="button" icon="pi pi-users" class=" p-button-rounded  p-button-outlined p-button-help"
                label="Médecin de famille" 
                routerLink="/medecinFamille"></button>
            </ng-template>
    
          
        </p-toolbar>             
                      
        <p-table #dossierTable [value]="listDossier"  dataKey="idDossier" [rows]="5"
            [showCurrentPageReport]="true" [rowsPerPageOptions]="[5,10,25,50]" [paginator]="true"
            currentPageReportTemplate="Affichage de {first} à {last} sur {totalRecords} éléments"
            [globalFilterFields]="['idDossier','dateCreation','patient?.cnss','patient?.assurance']">
            <ng-template pTemplate="caption">

                <div class="flex" [style]="{ height: '5vw' }">

                   



                    <pre class="text-center" class="font">Liste des dossiers médicaux de nouveaux patients</pre>

                        
                        <span class="p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="dossierTable.filterGlobal(getEventValue($event), 'contains')" placeholder="Search..." [style]="{height: '2.5vw'}" />
                        </span>
                       

                    

                </div>

            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th pSortableColumn="idDossier">Num_Dossier <p-sortIcon field="idDossier"></p-sortIcon>
                    </th>
                    <th pSortableColumn="dateCreation">Date_Creation <p-sortIcon field="dateCreation"></p-sortIcon>
                    </th>
                    <th pSortableColumn="patient?.cnss">Nom_Patient <p-sortIcon field="patient?.cnss"></p-sortIcon>
                    </th>
                    <th pSortableColumn="patient?.assurance">Prenom_Patient <p-sortIcon field="patient?.assurance">
                        </p-sortIcon>
                    </th>
                    
                    <th>
                         Envoyer_Demande
                    </th>
                    
                    
                </tr>
                <tr>
                    <th>
                        <p-columnFilter  type="text" field="idDossier" matchMode="contains"  [matchModeOptions]="matchModeOptions" ></p-columnFilter>
                    </th>
                    <th>
                        <p-columnFilter type="text" field="dateCreation" matchMode="contains"  [matchModeOptions]="matchModeOptions" ></p-columnFilter>
                    </th>
                    <th>
                      <p-columnFilter type="text" field="patient?.cnss" matchMode="contains"  [matchModeOptions]="matchModeOptions" ></p-columnFilter>
                  </th>
                  <th>
                    <p-columnFilter type="text" field="patient?.assurance"  matchMode="contains" [matchModeOptions]="matchModeOptions" ></p-columnFilter>
                </th>
              
                <th>
              </th>
    
    
                </tr>
             
            </ng-template>

            <ng-template pTemplate="body" let-dossier let-rowIndex="rowIndex">

                <tr [pSelectableRow]="dossier" [pSelectableRowIndex]="rowIndex">
                    <td>{{dossier?.idDossier}}</td>
                    <td>{{dossier?.dateCreation | date: "longDate"}}</td>
                    <td>{{dossier?.patient?.cnss}}</td>
                    <td>{{dossier?.patient?.assurance}}</td>
                    <td><button pButton type="button" class="p-button-raised p-button-outlined p-button-rounded p-button-warning" icon="fa fa-share-square-o"    label="Envoyer"></button></td>

                    

                    

                

                </tr>


            </ng-template>

        </p-table>
    </div>

</div>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<app-footer></app-footer>