pre{
    color: #1150C6;
}
.text-inf{
    
    color: #1150C6;
  }
  .font{
  font-size: 28px;
  text-align: center;
  color: #1150C6;
  }
  .p-input-icon-left,
   .p-input-icon-right {
       float: right;
   }
   span.p-input-icon-left input[type="text"]{
       padding: 0px 25px;
   }
   .lefto {
    float: right;
    margin: 0 30px 15 20px;
  }