<div class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1"
    id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
    <div class="offcanvas-header">
        <a class="navbar-brand" routerLink="/about">
            <img src="assets/img/logo.png" width="160" alt="" />
        </a>
        <button type="button" class="btn-close btn-close-custom text-reset" data-bs-dismiss="offcanvas"
            aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <ul>
            <li class="bg-danger px-4 py-2-5 rounded-3 cursor-pointer">
                <a routerLink="/professional">
                    <img src="assets/img/dashboard-icon-active.svg" alt="" class="" />
                    <span class="ms-2 fs-6 d-inline-block mt-1">Dashboard</span>
                </a>
            </li>
            <li class="px-4 py-2-5 rounded-3 cursor-pointer hover-bg-danger">
                <img src="assets/img/my-profile.svg" alt="" class="" />
                <span class="ms-2 fs-6 d-inline-block text-light mt-1">My Profile</span>
            </li>
            <li class="px-4 py-2-5 rounded-3 cursor-pointer hover-bg-danger">
                <img src="assets/img/appointment.svg" alt="" class="" />
                <span class="ms-2 fs-6 d-inline-block text-light mt-1">Appointment</span>
            </li>
            <li class="px-4 py-2-5 rounded-3 cursor-pointer hover-bg-danger">
                <img src="assets/img/doctors.svg" alt="" class="" />
                <span class="ms-2 fs-6 d-inline-block text-light mt-1">Doctors</span>
            </li>

            <li class="px-4 py-2-5 rounded-3 cursor-pointer hover-bg-danger">
                <a routerLink="/acueilDossier">
                    <img src="assets/img/dos.svg" alt="" class="" />
                    <span class="ms-2 fs-6 d-inline-block text-light mt-1">Dossier_Médicale</span>
                </a>

            </li>
            <a routerLink="/patient">
                <li class="px-4 py-2-5 rounded-3 cursor-pointer hover-bg-danger">
                    <img src="assets/img/pattients.svg" />
                    <span class="ms-2 fs-6 d-inline-block text-light mt-1">Patients</span>
                </li>
            </a>
           
            <li class="px-4 py-2-5 rounded-3 cursor-pointer hover-bg-danger">
                <img src="assets/img/history.svg" alt="" class="" />
                <span class="ms-2 fs-6 d-inline-block text-light mt-1">History</span>
            </li>
        </ul>

    </div>
</div>