pre{
    color: #1150C6;
}
.text-inf{
    
    color: #1150C6;
  }
  .font{
  font-size: 28px;
  text-align: center;
  color: #1150C6;
  text-decoration: #1b74e4 underline;
  }
  .p-input-icon-left,
   .p-input-icon-right {
       float: right;
   }
   span.p-input-icon-left input[type="text"]{
       padding: 0px 25px;
   }
   .center {
    position: relative;

    left: 2%;
    top: 1.5em;
    
  }
  .colonne{
    font-size: 16px;
    text-align: center;
    color: #1150C6;
   
    }