<app-header-dashboard></app-header-dashboard>
<div class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1"
    id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
    <div class="offcanvas-header">
        <a class="navbar-brand" routerLink="/about" >
            <img src="assets/img/images.svg" width="180" class="left"
                alt="" />
            
        </a>
        
        <button type="button" class="btn-close btn-close-custom text-reset" data-bs-dismiss="offcanvas"
            aria-label="Close">

        </button>
    </div>
    <div class="offcanvas-body">
        <ul>

            <li class="px-4 py-2-5 rounded-3 cursor-pointer hover-bg-danger">
                <img src="assets/img/my-profile.svg" alt="" class="" />
                <span class="ms-2 fs-6 d-inline-block text-inf mt-1">My Profile</span>
            </li>
        


            <li class="px-4 py-2-5 rounded-3 cursor-pointer hover-bg-danger">
                <a routerLink="/acueilDossier">
                    <img src="assets/img/dos.svg" alt="" class="" />
                    <span class="ms-2 fs-6 d-inline-block text-inf mt-1">Anciens_Patients</span>
                </a>

            </li>
            <li class="px-4 py-2-5 rounded-3 cursor-pointer hover-bg-danger">
                <a routerLink="/dossierNouveaux">
                    <img src="assets/img/dos.svg" alt="" class="" />
                    <span class="ms-2 fs-6 d-inline-block text-inf mt-1">Nouveaux_Patients</span>
                </a>

            </li>
            
            
            
           
            
            


            
                <li class="px-4 py-2-5 rounded-3 cursor-pointer hover-bg-danger">
                    <a routerLink="/medicament">
                    <img src="assets/img/images.svg" />
                    <span class="ms-2 fs-6 d-inline-block text-inf mt-1">Medicaments</span>
                </a>
                </li>
            
           
            
            
            
             
            
            
              
            
            
                <li class="px-4 py-2-5 rounded-3 cursor-pointer hover-bg-danger">
                    <a routerLink="/patient">
                    <img src="assets/img/pattients.svg" />
                    <span class="ms-2 fs-6 d-inline-block text-inf mt-1">Patients</span>
                </a>
                </li>
            


        </ul>

    </div>
</div>




   



    <br />
    <div class="container">
        <div class="card" style=" top: 10px; left: 170px ">
            <br />
            <h2 class="text-center"> Liste des medicamments </h2>
            <div class="card-body">
                <!-- Content here -->


                <br />
                <!-- <table  class="table table-striped" style=" top: 280px; left: 100px" >
          <thead>
            <th >idFiche</th>
            <th >observation</th>
            <th >Date_Creation</th>
            
            
          </thead>
          <tbody>
            <tr *ngFor="let f of listFiches">
              <td>{{f.idFiche}}</td>
              <td>{{f.observation}}</td>
              <td>{{f.dateCreation}}</td>
            
              
              
            </tr>
          </tbody>
  
  
        </table> -->

                <div class="menu-container" class="center">
                    <div class="card-body" *ngFor="let m of Listmedicaments ">
                        <div class="menu-toggler" (click)="toggleMenu()">
                            <pre>✵ Medicament N°:{{m.idMedicament}} </pre>

                        </div>

                        <div class="menu" *ngIf="isMenuOpened">
                            <!-- <div class="menu-item">Id idFiche </div>
                        <div class="menu-item">Observation </div>
                        <div class="menu-item">Date_Creation </div> -->
                            <div class="card-body">
                                <hr />
                                <pre>&#9788; Name : {{m.name}} </pre>
                                <hr />
                                <pre>&#9788; Classe_Medical : {{m.classe}} </pre>
                                <hr />
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />

        <footer>

            <app-footer></app-footer>
        </footer>