<nav class="navbar navbar-expand-lg bg-white border-bottom border-1 navbar-light px-4 nav-dashboard">
    <div class="container">
        <button class="btn btn-close-custom btn-primary" type="button" data-bs-toggle="offcanvas"
            data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling">
            btn
        </button>

        <!-- search input -->
        <div>
            <div class="d-none d-lg-block form-control rounded-pill">
                
                    <a class="navbar-brand" routerLink="/about">
                        <img src="assets/img/logo.png" width="160" alt="" />
                    </a>
                    <button type="button" class="btn-close btn-close-custom text-reset" data-bs-dismiss="offcanvas"
                        aria-label="Close"></button>
                
            </div>
        </div>
        <!-- end search input -->

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse d-lg-flex justify-content-lg-end" id="navbarNav">            <ul class="navbar-nav gap-lg-4 text-center py-4 py-lg-0 d-flex align-items-center">
                <li class="nav-item notification-bell-active">
                    <img src="assets/img/notification-icon.svg" alt="" />
                </li>
                <li class="nav-item d-flex align-items-center cursor-pointe">
                    <div class="btn-group d-flex flex-column">
                        <button type="button" class="btn d-flex align-items-center dropdown-toggle"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            <div class="profile-img overflow-hidden">
                                <img src="assets/img/profile-avatar.png" class="img-fluid" alt="" />
                            </div>
                            <span class="fw-medium ms-3">Natasya</span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-end">
                            <li>
                                <button class="dropdown-item" type="button">Action</button>
                            </li>
                            <li>
                                <button class="dropdown-item" type="button">
                                    Another action
                                </button>
                            </li>
                            <li>
                                <button class="dropdown-item" type="button">
                                    Something else here
                                </button>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1"
    id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
    <div class="offcanvas-header">
        <a class="navbar-brand" routerLink="/professional">
            <img src="assets/img/102-1026499_consultation-free-doctor-consultation-icon-clipart.png" width="200" alt="" />
        </a>
        <button type="button" class="btn-close btn-close-custom text-reset" data-bs-dismiss="offcanvas"
            aria-label="Close"></button>
    </div>
    
</div>
