<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register | Sehti</title>
    <!-- <link rel="stylesheet" href="assets/css/index.css"/> -->
  </head>
  <body>
    <app-header></app-header>

    <!-- main -->
    <main>
      <div class="container">
        <div class="row">
          <div class="col-lg-6 d-flex align-items-center h-full mt-5 mt-lg-0">
            <div class="text-center mx-lg-0 mx-lg-5">
              <img class="mb-5 img-fluid" src="assets/img/welcome-illustration.svg" alt="" />
              <h1>
                Welcome to
                <span class="text-primary my-2 d-inline-block">sehti.tn</span>
              </h1>
              <p class="text-light px-4">
                Sehti.tn helps you manage your medical files properly and
                
                facilitates the process of medical treatment and analysis. Join
                us and enhance your medical experience.
              </p>
            </div>
          </div>
          <div class="col-lg-6 d-flex align-items-center p-0 mt-5 mt-lg-0">
            <div class="border-lg-start border-1 mb-4 mb-lg-0 p-lg-5 text-center">
              <h2>
                Better experience with
                <span class="text-primary my-2 d-inline-block">sehti.tn</span>
              </h2>
              <p class="text-light py-3 px-4">
                Sehti.tn helps you manage your medical files properly and
                facilitates the process of medical treatment.
              </p>
              <div class="d-grid gap-4 px-5 mx-5">
                <button class="btn btn-hover border-1 border-primary text-primary fs-6 py-2-5" type="button" > Join with me </button>
                <button class="btn btn-primary fs-6 py-2-5" type="button"> Login </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <!-- end main -->

    <script src="assets/js/bootstrap.min.js"></script>
  </body>
  <app-footer></app-footer>
</html>
