<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Login | Sehti</title>

</head>

<body>
  <app-header></app-header>
  <!-- end navbar -->

  <!-- main -->

  <main>

    <div class="login-screen">
      
      <div class="col-md-6 mx-auto text-center h-full d-lg-flex align-items-center">
        
        <div class="card">
          
          
            <p-toast></p-toast>
            <div class="my-5">
            <h3 class="text-primary">Étapes d'inscriptions</h3>
            <br>
            <br>
            <p-steps class="text-primary" [model]="items"></p-steps>
            </div>
            
            <h1>Inscrivez-vous à
              <br>
              
               <span class="text-primary">Sehti.tn</span></h1>
               
         
            <br />
            
            
            <!-- <h3>Clickable</h3>
            <p-steps [model]="items" [(activeIndex)]="activeIndex" [readonly]="false"></p-steps> -->
            <form [formGroup]="signUpForm" enctype="multipart/form-data">

              <div class="mb-3 px-lg-5 mx-lg-5">
                <input type="text" [style]="{height: '3vw',width: '19vw'}" pInputText class="form-control py-2-5 px-3" id="username"
                  placeholder="Nom d'utilisateur" pInputText [formControlName]="'username'"
                  [ngClass]="!signUpForm.controls['username'].valid && signUpForm.controls['username']?.touched?'ng-invalid ng-dirty':''"
                  required>
                <small class="text-red-500"
                  *ngIf="signUpForm.controls['username'].hasError('required') && signUpForm.controls['username']?.touched"
                  style="color: #f44336;">nom est obligatoire </small>
                <small class="text-red-500"
                  *ngIf="signUpForm.controls['username'].hasError('pattern') && signUpForm.controls['username']?.touched"
                  style="color: #f44336;">Le nom doit contenir des lettres</small>
              </div>
              <div class="mb-3 px-lg-5 mx-lg-5">
                <input type="email" [style]="{height: '3vw',width: '19vw'}" pInputText class="form-control py-2-5 px-3" id="email" placeholder="Email"
                  [formControlName]="'email'"
                  [ngClass]="!signUpForm.controls['email'].valid && signUpForm.controls['email']?.touched?'ng-invalid ng-dirty':''"
                  required>
                <small class="text-red-500"
                  *ngIf="signUpForm.controls['email'].hasError('required') && signUpForm.controls['email']?.touched"
                  style="color: #f44336;">email est obligatoire </small>
                <small class="text-red-500"
                  *ngIf="signUpForm.controls['email'].hasError('email') && signUpForm.controls['email']?.touched"
                  style="color: #f44336;">Veuillez entrer une adresse e-mail valide!</small>
              </div>
              <div class="col">
                <div class="mb-3 px-lg-5 mx-lg-5">
                  <input [style]="{height: '3vw',width: '19vw'}" type="password" pPassword [feedback]="false"
                    id="password" placeholder="Mot de passe" [formControlName]="'password'" [ngClass]="!signUpForm.controls['password'].valid && signUpForm.controls['password']?.touched?'ng-invalid ng-dirty':''"
                    required
                    >
                    
                    <br>
                    
                  <small class="text-red-500"
                    *ngIf="signUpForm.controls['password'].hasError('required') && signUpForm.controls['password']?.touched"
                    style="color: #f44336;">Mot de pass est obligatoire </small>
                  <small class="text-red-500"
                    *ngIf="signUpForm.controls['password'].hasError('pattern') && signUpForm.controls['password']?.touched"
                    style="color: #f44336;">
                    <p-divider></p-divider>
                    <p class="p-mt-2">Propositions:</p>
                    <ul class="p-pl-2 p-ml-2 p-mt-0" style="line-height: 1.5">
                      <li>Au moins un chiffre</li>
                      <li>Au moins une lettre majuscule</li>
                      <li>Au moins une lettre minuscule</li>
                      <li>Minimum  6 caractères</li>
                    </ul></small>

                </div>
              </div>
             
              <div class="mb-3 px-lg-5 mx-lg-5">
                <input [style]="{height: '3vw',width: '19vw'}" type="password" pPassword [feedback]="false"
                  id="confirmPassword" placeholder="Confirmer votre mot de passe" [formControlName]="'confirmPassword'" [ngClass]="!signUpForm.controls['confirmPassword'].valid && signUpForm.controls['confirmPassword']?.touched?'ng-invalid ng-dirty':''"
                  required>
                  <br>
                <small class="text-red-500"
                  *ngIf="signUpForm.controls['confirmPassword'].hasError('required') && signUpForm.controls['confirmPassword']?.touched"
                  style="color: #f44336;">Ce champ est obligatoire </small>
                <small class="text-red-500"
                  *ngIf="signUpForm.controls['confirmPassword'].hasError('mustMatch') && signUpForm.controls['confirmPassword']?.touched"
                  style="color: #f44336;">veuillez confirmer votre mot de passe !</small>

              </div>
          
           
              <!-- <div class="mb-3 px-lg-5 mx-lg-5">
                <label class="py-2-5 px-3">S'inscrire en tant que</label>
              </div> -->
             
              <div class="mb-3 px-lg-5 mx-lg-5">
               
               
              <select style="color: #6c757d;" [style]="{height: '3vw',width: '19vw'}" class="form-control py-2-5 px-3"  name="role" id="role" [formControlName]="'role'" 
                (change)="onChange($event)"  >
             
                <option  class="text-option"  selected={{selected}}  > S'inscrire en tant que </option>
                <option class="text-option" value="PROFESSIONNEL" > Professionnel de santé </option>
                <option class="text-option" value="PATIENT" > Patient </option>
              </select>
              
              </div>
             
          
            
              <div *ngIf="!hidden" >
                <div class="mb-3 px-lg-5 ">
                <label for="diplome">Diplome </label>
                <p-fileUpload name="myfile[]" url="./upload.php" [multiple]="true"
                accept="image/*" [maxFileSize]="1000000" (change)="diplomeChange($event)" >
            
        </p-fileUpload>

</div>
<div class="mb-3 px-lg-5 ">
                <label for="affiliation">Affiliation </label>
                <p-fileUpload name="myfile[]" id="affiliation" name="affiliation" url="./upload.php" [multiple]="true"
                accept="image/*" [maxFileSize]="1000000" (change)="affiliationChange($event)" >
            
        </p-fileUpload>
              </div>
            
             </div>
              <div class="mb-3 px-lg-5 mx-lg-5">
                <button class="btn btn-primary py-2-5 w-100" [disabled]="signUpForm.disabled"
                  (click)="signUp()">Inscrivez-vous</button>
              </div>
              <div class="mb-3 mt-4 px-lg-5 mx-lg-5 text-start">
                <p class="text-light">
                  Vous avez déjà un compte ? <a href="">Connexion</a>
                </p>
              </div>
            </form>
          
        </div>
      </div>
    </div>
  </main>
  <!-- end main -->

</body>

</html>